/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* General CSS */
* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	background: url(../image/background.jpg);
	background-size: cover;
	height: 100vh;
	width: 100%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
}

.logo {
	color: #fff;
}

.nav a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	padding: 8px;
	transition: 300ms;
	border-radius: 99px;
}

.nav a:hover {
	background: rgba(0, 0, 0, 0.2);
}

.user-form-group a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

.signup {
	border: rgba(255, 255, 255, 0.5) 2px solid;
	padding: 8px 16px;
	margin-left: 16px;
	border-radius: 99px;
	transition: 300ms;
}

.signup:hover {
	background: #fff;
	color: #000;
}

.login:hover {
	text-decoration: underline;
}

.nav .logo {
	display: none;
}

#checkids {
	display: none;
}

.user-form-group label {
	display: none;
}

.subscribe {
	color: #fff;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-shadow: 10px 0px 10px rgba(255, 255, 255, 0.6);
	font-size: 40px;
	z-index: -1;
}

@media (max-width: 768px) {
	.nav {
		position: absolute;
		left: -100%;
		top: 0;
		display: flex;
		flex-direction: column;
		background: #0f172a;
		height: 100vh;
		width: 30%;
		padding: 0px 20px;
		gap: 16px;
		transition: 500ms;
		box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
	}

	.nav .logo {
		margin-left: 16px;
		margin-top: 20px;
		display: block;
	}

	.divider {
		background: rgba(255, 255, 255, 0.2);
		height: 2px;
		width: 100%;
		margin: 10px 0px;
	}

	.user-form-group {
		display: flex;
		align-items: center;
	}

	.signup {
		margin-right: 16px;
	}

	.menucon {
		cursor: pointer;
		color: #fff;
		font-size: 40px;
	}

	#checkids:checked~.user-form-group .menucon {
		display: none;
	}

	.close-menu {
		cursor: pointer;
		color: #fff;
		font-size: 40px;
	}

	.user-form-group .close-menu {
		display: none;
	}

	#checkids:checked~.user-form-group .close-menu {
		display: block;
	}

	#checkids:checked~.nav {
		left: 0%;
	}
}