<!DOCTYPE html>
<html lang="ja-JP" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>OgumaProject</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf_token" th:content="${_csrf.token}">
	<link rel="stylesheet" th:href="@{/static/css/style.css}">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/static/oguma.ico}">
	<script type="text/javascript" th:src="@{/static/jquery/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/layer/layer.js}"></script>
</head>

<body>
	<style>
		input[type=password]::-ms-reveal {
			display: none;
		}

		input[type=password]::-ms-clear {
			display: none;
		}

		input[type=password]::-o-clear {
			display: none;
		}

		form .inputBox ion-icon#eyeIcons {
			cursor: pointer;
			left: 220px;
		}

		form .inputBox ion-icon#eyeIcons2 {
			cursor: pointer;
			left: 220px;
		}
	</style>
	<div class="container">
		<p th:text="${session['SPRING_SECURITY_LAST_EXCEPTION']} eq null ? '' : ${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
			id="errorMsg" hidden />
		<p th:text="${torokuMsg eq null ? '' : torokuMsg}" id="torokuMsg" hidden />
		<p th:text="${resetMsg eq null ? '' : resetMsg}" id="resetMsg" hidden />
		<span></span>
		<span></span>
		<span></span>
		<form th:action="@{/oguma/employee/doLogin}" th:method="post" id="loginForm">
			<h2>ログイン</h2>
			<div class="inputBox">
				<ion-icon name="mail-outline"></ion-icon>
				<input type="text" th:value="${registeredEmail eq null ? '' : registeredEmail}" name="loginAcct"
					id="accountIpt" placeholder="アカウント" required>
			</div>
			<div class="inputBox">
				<ion-icon name="lock-closed-outline"></ion-icon>
				<ion-icon name="eye-outline" id="eyeIcons"></ion-icon>
				<input type="password" name="userPswd" id="passwordIpt" placeholder="パスワード" required>
			</div>
			<div class="rememberForget">
				<a href="#"><input type="checkbox" name="remember-me">私を記憶する</a>
				<a th:href="@{/oguma/employee/forget/password}">パスワード忘れ？</a>
			</div>
			<div class="inputBox">
				<input type="submit" value="ログイン" id="loginBtn">
			</div>
			<div class="inputBox group">
				<a href="#">アカウント無し? <b id="signup">登録</b></a>
			</div>
		</form>
		<form th:action="@{/oguma/employee/toroku}" th:method="post" id="signupForm">
			<h2>登録</h2>
			<div class="inputBox">
				<ion-icon name="mail-outline"></ion-icon>
				<input type="text" name="email" id="emailIpt" placeholder="メールアドレス" required>
			</div>
			<div class="inputBox">
				<ion-icon name="key-outline"></ion-icon>
				<ion-icon name="eye-outline" id="eyeIcons2"></ion-icon>
				<input type="password" name="password" id="passwordIpt1" placeholder="パスワード" required>
			</div>
			<div class="inputBox">
				<ion-icon name="key-outline"></ion-icon>
				<input type="password" name="password" id="passwordIpt2" placeholder="パスワード再入力" required>
			</div>
			<div class="inputBox">
				<ion-icon name="calendar-number-outline"></ion-icon>
				<input type="date" name="dateOfBirth" id="dateOfBirthIpt" required>
			</div>
			<div class="inputBox">
				<input type="submit" value="登録" id="torokuBtn">
			</div>
			<div class="inputBox group">
				<a href="#">すでにアカウント持ち? <b id="login">ログイン</b></a>
			</div>
		</form>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</div>
	<script type="text/javascript" th:src="@{/static/customizes/logintoroku.js}"></script>
</body>

</html>