<!DOCTYPE html>
<html lang="ja-JP" xmlns:th="http://www.thymeleaf.org">
<div th:replace="commons::header"></div>

<body>
	<div>
		<nav class="navbar navbar-dark bg-dark fixed-top" role="navigation">
			<div class="container-fluid"> <a class="navbar-brand" th:href="@{/pgcrowd/to/index}"
					style="font-size:24px;">PGアプリケーション</a> </div>
		</nav>
	</div>
	<div class="container" style="margin-top: 60px;">
		<form th:action="@{/pgcrowd/employee/do/login}" method="post" class="form-signin" role="form">
			<div class="text-center">
				<h2 class="form-signin-heading">
					<i class="bi bi-box-arrow-in-right"></i>社員登録
				</h2>
			</div>
			<p
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION']} eq null ? '' : ${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" />
			<div class="input-group mb-3"> <span class="input-group-text"><span class="bi bi-people"></span></span>
				<input type="text" name="loginAcct" class="form-control" id="inputSuccess" placeholder="アカウント名を入力してください"
					autofocus>
			</div>
			<div class="input-group mb-3"> <span class="input-group-text"><span class="bi bi-key"></span></span>
				<input type="text" name="userPswd" class="form-control" id="inputSuccess" placeholder="パスワードを入力してください"
					autofocus>
			</div>
			<button type="submit" style="width: 300px; margin: 0px auto 0px auto;"
				class="btn btn-lg btn-success btn-block">登録</button>
		</form>
	</div>
</body>

</html>