<!DOCTYPE html>
<!-- commons.html -->
<html lang="ja-JP" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
	<title>PGアプリケーション</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/static/css/login.css}">
	<link rel="stylesheet" th:href="@{/static/css/main.css}">
	<link rel="stylesheet" th:href="@{/static/ztree/metroStyle.css}">
	<link rel="stylesheet" th:href="@{/static/treeview/css/bstreeview.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
	<style>
		.tree li {
			list-style-type: none;
			cursor: pointer;
		}

		a {
			text-decoration: none;
		}
	</style>
	<script type="text/javascript" th:src="@{/static/jquery/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/script/docs.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/layer/layer.js}"></script>
	<script type="text/javascript" th:src="@{/static/ztree/jquery.ztree.all.js}"></script>
	<script type="text/javascript" th:src="@{/static/treeview/js/bstreeview.js}"></script>
	<script type="text/javascript" th:src="@{/static/customizes/mainmenu.js}"></script>
</head>

<body>
	<!-- ヘッダーのフラグメント -->
	<div th:fragment="navibar">
		<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
			<div class="container-fluid"> <a class="navbar-brand" style="font-size:24px;"
					th:href="@{/pgcrowd/to/index}">PGアプリケーション</a>
				<div class="collapse navbar-collapse">
					<div class="input-group d-flex justify-content-end">
						<input type="text" class="form-control" id="searchInput" placeholder="検索"
							style="max-width: 180px;">
						<button class="input-group-text bg-transparent p-0 px-2" id="searchBtn">
							<i class="bi bi-search"></i>
						</button>
					</div>
					<ul class="navbar-nav mb-2 mb-lg-0 d-flex" id="dropdown-info">
						<li class="nav-item dropdown"> <a id="userinfo"
								class="nav-link dropdown-toggle btn btn-success me-2" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 13.34px;">
								<i class="bi bi-person-fill"
									th:text="${#authentication.getPrincipal().getOriginalAdmin().getUsername()}"></i></a>
							<ul class="dropdown-menu dropdown-menu-end" role="menu">
								<li><a class="dropdown-item" href="#"><i class="bi bi-gear-wide-connected"></i> 個人設定</a>
								</li>
								<li><a class="dropdown-item" href="#"><i class="bi bi-chat-dots"></i> メッセージ</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a id="logoutLink" class="dropdown-item" href="#"><i
											class="bi bi-box-arrow-right"></i>
										ログアウト</a></li>
								<form id="logoutForm" method="post" th:action="@{/pgcrowd/employee/logout}"
									style="display:none;"></form>
							</ul>
						</li>
					</ul>
					<div class="d-flex"> <button id="button-help" type="button" class="btn btn-danger me-2"> <i
								class="bi bi-info-circle"></i></button>
					</div>
				</div>
			</div>
		</nav>
	</div>
</body>

</html>