<!DOCTYPE html>
<html lang="ja-JP" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>	OgumaProject</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf_token" th:content="${_csrf.token}">
	<link rel="stylesheet" th:href="@{/static/css/style.css}">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
	<script type="text/javascript" th:src="@{/static/jquery/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/layer/layer.js}"></script>
</head>

<body>
</body>

</html>