<!DOCTYPE html>
<html lang="ja-JP" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PGアプリケーション</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf_token" th:content="${_csrf.token}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" th:href="@{/static/css/style.css}">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
	<script type="text/javascript" th:src="@{/static/jquery/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/layer/layer.js}"></script>
</head>

<body>
	<style>
		input[type=password]::-ms-reveal {
			display: none;
		}

		input[type=password]::-ms-clear {
			display: none;
		}

		input[type=password]::-o-clear {
			display: none;
		}

		.container .login-box {
			height: 550px;
		}

		.input-box .icon #eyeIcons2 {
			position: absolute;
			cursor: pointer;
			right: 30px;
			color: #fff;
			font-size: 18px;
			line-height: 50px;
		}
	</style>
	<div class="container">
		<div class="login-box">
			<!-- Login Form -->
			<form th:action="@{/pgcrowd/employee/toroku}" th:method="post" class="form-signin" role="form"
				id="torokuForm">
				<h2>登録</h2>
				<div class="input-box">
					<span class="icon"><i class="fa-solid fa-envelope"></i></span>
					<input type="text" name="email" id="emailIpt" placeholder="メールアドレス" required>
				</div>
				<div class="input-box">
					<span class="icon"><i class="fa-solid fa-key" id="passwordkeyIcn1"></i></span>
					<span class="icon"><i class="fa-solid fa-eye" id="eyeIcons2"></i></span>
					<input type="password" name="password" id="passwordIpt1" placeholder="パスワード" required>
				</div>
				<div class="input-box">
					<span class="icon"><i class="fa-solid fa-key" id="passwordkeyIcn2"></i></span>
					<input type="password" name="password" id="passwordIpt2" placeholder="パスワード再入力" required>
				</div>
				<div class="input-box">
					<span class="icon"><i class="fa-solid fa-calendar"></i></span>
					<input type="date" name="dateOfBirth" id="dateOfBirthIpt" required>
				</div>
				<button type="button" id="torokuBtn">Sign up</button>
				<div class="register-link">
					<a th:href="@{/pgcrowd/employee/login}">Already has an account? Login!</a>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/static/customizes/logintoroku.js}"></script>
</body>

</html>